body{
    background-color: rgb(186, 192, 195);
    height: 100%;
    width: 100% ;
    margin-top: 0%;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
}
.tabla1 tr{
    text-align: center;
    display: flex;
    border-spacing: 0px;
    height:100%; 
    border-collapse: collapse;
    margin-left: 10px;
    margin-right: 110px;
}
.cabecera{
    border: 2px black solid;
    width: 100%;
    height: 100%;
}
td{
    height: 100%;
    width: 100%;
    margin-top:5px;
}
.logo {
    border: 0px blue solid;
    padding-bottom: 0%;
    height: 65px;
    width: 100px;
}
.inicio{
    padding-left:100px ;
    padding-right:100px ;
}
.qnsos{
    white-space: nowrap;
}
/* aqui comienza la parte de abaj, desde donde dice carreras*/
.runs{

    width: 100%;

}
.carrera{
    font-size:30px;
    height: 100%;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    font-size:16px;
}
/* imagen de area educativa*/
.img_acad{
    border-bottom: 2px blue solid;
    border-left: 2px blue solid;
    width: 200px;
    height: 100px;    

}
.enl_img{
    height: 100%;
    width: 100%;


}
.area_tecno{
    border: 2px black solid;
    height: 95%;
    margin: 5px;
    font-size: 8;
}
.img_ingenieria{
    border-bottom: 2px blue solid;
    border-left: 2px blue solid;
    width: 200px;
    height: 100px;    
}
.cont_img{
    font-size:14px;
}
a{
    font-size: 13.1px;
}
.tr_matric{
    width: 100%;
    height: 100%;
}
.img_matr{
    width:75%;
    height: 75%;
}
.tab_est{
    height: 100%;
    width: 100%;
}
.td_tab_est{
    text-align: center;
    font-size:15px;

    
}
.cont_tab_est {
    border: 2px solid black;
    height: 100%;
    width: 100%;
    border-collapse: collapse;
    padding-top:0px;
}
